autoflake==1.4
autopep8==1.5.7
black==21.9b0 # from 21.6b0
bump2version==1.0.1
Click==8.0.1
coverage==5.5
coverage-badge==1.0.1
flake8==4.0.1
loguru==0.5.3
mkdocs==1.2.2
mkdocs-material==7.3.0 # from 7.1.9
pre-commit==2.15.0
pylint==2.11.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-runner==5.3.1
tox==3.24.4 # from 3.23.1
tqdm==4.62.3
twine==3.4.2
watchdog==2.1.5
wheel==0.37.0
